@import url("http://fonts.googleapis.com/css/family=Quicksand:400,500&subset=latin-ext");
body {
  padding: 100px;
  background-color: #ddd2d2;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

ul {
  margin-left: -45px;
}

li {
  list-style: none;
  display: inline-block;
}
.main {
  width: 800px;
  height: 520px;
  background-color: #fafafa;
  margin: 0 auto;
  padding-top: 20px;
  border-radius: 10px;
  border: 1px solid #eeeeee;
}

.img {
  background-image: url(../Assets/logo_WB.jpg);
  background-color: #eaeaea;
  background-size: cover;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: 1px solid #eaeaea;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  font-weight: bold;
  color: #6944ff;
}

.text {
  text-align: center;
  font-size: 15px;
  margin: 0;
  color: #324e32;
}

p {
  margin: 0 auto;
  padding-top: 20ox;
  width: 450px;
  height: auto;
  color: #324e32;
}
.rf {
  color: black;
  font-weight: 700;
}
